<html>

<head>
    <title>Change Your Password</title>

    <style type="text/css">
        @import url("/stylesheets/styleSheet2.css");
    </style>
</head>

<body>

    <table width="350" border="0" align="center" cellpadding="4" cellspacing="0">
        <form method="post" action="/auth/postChangePassword" \>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" class="pageTitle">Change Your Password</td>
            </tr>
            <tr>
                <td colspan=2>
                    <hr>
                </td>
            </tr>
            <tr>
                <td colspan="1" class="row0">Employee Name:</td>
                <td colspan="1" class="row0"><%= name %></td>
            </tr>

            <tr>
                <td colspan="1" class="row1">Enter Old password</td>
                <td colspan="1" class="row1">
                    <input type="password" name="oldpwd" required>
                </td>
            </tr>

            <tr>
                <td colspan="1" class="row1">Enter new password</td>
                <td colspan="1" class="row1">
                    <input type="password" name="newpwd" required>
                </td>
            </tr>

            <tr>
                <td colspan="1" class="row1">Re-Enter new password</td>
                <td colspan="1" class="row1">
                    <input type="password" name="confirmnewpwd" required>
                </td>
            </tr>
            <tr>
                <td class="error">&nbsp;</td>
            </tr>

            <tr>
                <td colspan=2 class="row1" align="center">
                    <input type="submit" class="button" />
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <hr>
                </td>
            </tr>
            <td colspan=1 class="row1">
                </a>
            </td>
        </form>
    </table>

</body>

</html>