<html>
<head><title>Attendance Login </title></head>
<body>
<link rel="stylesheet" href="/stylesheets/style.css">
<table cellSpacing="0" cellPadding="4" align="center" border="0">
  <form name="loginForm" action="postLogin" method="post">
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td class="pageTitle" colSpan="2">Enter Login Credentials</td></tr>
    <tr><td colSpan="2"><hr></td></tr>
    <tr><td class="row0">Login  Name:</td>
      <td class="select"><input type="text" name="username" required></td></tr>
    <tr><td class="row0">Password:</td>
      <td class="select"><input type="password" name="password" required></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td align="middle" colSpan="2">
        <table>
          <tr>
            <td class="row0"><input class="button" type="submit" value="Login"></td>
            <td></td>
            <td class="row0"><input class="button" type="reset"></td>
            
          </tr>
          
        </td>
        <td></td>
        <td class="row0">
          <a href="/auth/ForgetPassword">Forget Password</a>
        </td>
          
        </table>
    <tr><td colSpan="2"><hr></td></tr>
  </form>
</table>

</body>
</html>