<html>
<head><title>Reset Password </title></head>
<body>
<link rel="stylesheet" href="/stylesheets/style.css">
<table cellSpacing="0" cellPadding="4" align="center" border="0">
<form action="postResetPassword" method="post">
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td class="pageTitle" colSpan="2">Enter New Password</td></tr>
    <tr><td colSpan="2"><hr></td></tr>
    <tr><td class="row0">New Password:</td>
    <td class="select"><input type="hidden" name="encryptedData" value = <%= email.encryptedData %>>
        <input type="hidden" name="iv" value = <%= email.iv %>>
        <input type="password" name="newPassword" required></td></tr>
    <tr><td class="row0">Confirm Password:</td>
    <td class="select"><input type="password" name="confirmPassword" required></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td align="middle" colSpan="2">
        <table>
        <tr><td class="row0"><input class="button" type="submit" value="Reset"></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            
        </tr></td>
        </table>
    <tr><td colSpan="2"><hr></td></tr>
</form>
</table>

</body>
</html>