<html>
<head><title>Forget Password </title></head>
<body>
<link rel="stylesheet" href="/stylesheets/style.css">
<table cellSpacing="0" cellPadding="4" align="center" border="0">
    <form action="postForgetPassword" method="post">
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td class="pageTitle" colSpan="2">Enter Email to get Get Reset Password Link</td></tr>
        <tr><td colSpan="2"><hr></td></tr>
        <tr><td class="row0">Email Address:</td>
            <td class="select"><input type="email" name="emailAddress" required></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td align="middle" colSpan="2">
                <table>
                    <tr><td class="row0"><input class="button" type="submit" value="Send Mail"></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        
                    </tr></td>
                </table>
        <tr><td colSpan="2"><hr></td></tr>
    </form>
</table>

</body>
</html>